.App {
    text-align: center;

}

body {
    background-image: url('../../assets/MicrosoftTeams-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}